.page {
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page.page1 {
  height: 5000px;
  background-color: salmon;
}

.page.page1::after {
  content: 'end of page: 5000px';
}

.page.page2 {
  height: 6000px;
  background-color: blueviolet;
}

.page.page2::after {
  content: 'end of page: 6000px';
}

.nav {
  background-color: #333333;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 15px;
  width: 100%;
}

a:visited {
  color: #cccccc;
}
